:root {
    --orange: #C18D21;
    --blue: #102945;
}

* {
    margin:0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
/*Padding*/
header {
    padding: 20px, 35px;
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    z-index: 99;
    top: 0;
}
/*Lauren Smith text*/
header h1 {
    font-size: 44px;
    color: var(--orange);
    margin: 10;
    text-align: 50%;
}
header a {
    text-decoration: none;
    color: var(--orange);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
/* text links along top header */
header nav ul li a {
    font-size: 1.55vw;
    padding: 10px 15px;
    text-decoration: underline;
}
.hero {
    background-image: url("Assets/hero.jpg");
    background-position: contain;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed; 
}
.hero h2 {
    color: var(--orange);
    line-height: 290px;
    font-size: 32px;
    text-align: right;
    width: 100%;
    padding: 15px;
}
.flex-row {
    display: flex;
}
body, footer {
    background-color: #cfced0;
}
/* About me and Contact Me section */
.me, .contact {
    color: var(--orange);
    width:100%;
    text-align: left;
    margin: 2.5%;
    font-size: 20px;
    line-height: 1.5;
    display: inline-flex;
    flex-wrap: flex;
}
/* About me and Contact Me text */
.me h2, .contact h2 {
    width: 80%;
    font-size: 45px;
    color: var(--orange);
    padding: 60px;
    border-right-style: solid;
    border-right-color: var(--orange);
    border-right-width: 5px;
    margin-top: 0px;
}
.me h2 {
    text-align: left;
}
/* Image and text withing 'About Me' Section */
.subclass {
    padding: 40px;
    color: var(--orange);
    margin: 0%;
    width: 80%;
    border-radius: 15px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/* Image of me */
.profile-img {
    border: 3px var(--blue) solid;
    max-width: 300px;
    max-height: 300px;
    margin-right: 20px;
    float: inline-start;
    align-content: left;
}
/* Run Buddy Image */
.Run-Buddy {
    display: flex;
    flex-direction: column;
    flex: auto;
}
.run-img {
    height: 95%;
    width: 82%;
    justify-content: right;
    border-radius: 15px;
    border: 3px var(--orange) solid;
    opacity:85%;
    margin: 20px;
}
/* Hover class for Run Buddy image */
.run-img:hover {
    opacity: 100%;
}
/* Run Buddy image and text*/
.container {
    position: relative;
    align-content: right;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex: inherit;
}
/* Run Buddy text box */
.text-block-1 {
    position: absolute;
    left: 20px;
    bottom: 25%;
    background-color: var(--blue);
    color: var(--orange);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 25px var(--blue) solid;
    display: flex;
    flex-direction: column;
}
/* Placeholder text boxes */
.text-block {
    position: absolute;
    left: 0;
    bottom: 25%;
    background-color: var(--blue);
    color: var(--orange);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 25px var(--blue) solid;
    display: flex;
    flex-direction: column;
}
/* top and bottom row of placeholder images and text */
.flex-2, .flex-3 {
    display: flex;
    flex: 200px;
    justify-content: center;
    gap: 2%;
    margin: auto;
    padding: 20px;
}
.img {
    height: 100%;
    width: 100%;
    justify-content: right;
    border-radius: 15px;
    border: 3px var(--orange) solid;
    opacity: 85%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
/* hover class for all place holder images */
img:hover {
    opacity: 100%;
}
.examples {
    display: flex;
}
.examples h2 {
    font-size: 45px;
    color: var(--orange);
    margin: 0;
    padding: 60px;
    border-right-style: solid;
    border-right-width: 5px;
    border-right-color: var(--orange);
    width: 18.5%;
}
/* 'Contact Me' section */
.contact a {
    text-decoration: underline;
    color: var(--orange);
}
.contact nav {
    margin: 7px 0;
    display: flex;
}
.contact nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.contact nav ul li a {
    padding: 10px 10px;
    font-size: 2vw;
}
/* Footer section */
footer {
    width: 100%;
    padding: 0;
    justify-content: space-between;
    display: block;
    flex-wrap: wrap;
    text-align: center;
    color:var(--blue);
}
/* Effects for the larger screens */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: left;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        text-align: right;
    }
    header nav ul li a {
        font-size: 20px;
    }
    footer h2 {
        text-align: center;
        width: 100%;
    }
    .hero {
        width: 100%;
    }
    .hero {
        text-align: center;
    }
    .section {
        width: 80%;
    }
    .profile-img {
        width: 85%
    }
}
/* Medium size screen effects */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
    .img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
/* Effects for the smallest screen */
@media screen and (max-width: 575px) {
    .hero {
        width: 100%;
    }
    .contact {
        width: 55%;
    }
    .section {
        height: 55%;
    }
}